body {
  background-color: #252830;
  color: #fff;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tools .list-group a {
  font-weight: bold;
  font-size: 2em;
  font-style: italic;
  color: #333;
}

.tools .list-group a img {
  width: 100px;
  height: 70px;
}

.vspace {
  margin-top: 2em;
}

.hspace {
  margin-right: 0.8em;
}
